:root {
    --color-yellow: #C8A35F;
    --color-light-grey: #393F47;
    --color-dark-grey: #2F343A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #fff;
}
ul {
    list-style-type: none;
}
a {
    cursor: pointer !important;
}
a,
a:hover {
    text-decoration: none;
    color: #fff;
}
h2 {
    margin-top: 35px;
}
h5 {
    font-size: 24px;
}
p {
    font-size: 18px;
}
button:active,
button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

header {
    background-color: var(--color-light-grey);
    padding-top: 15px;
    font-weight: 500;
}
header .button {
    margin: 0;
    font-size: 16px;
    border-radius: 10px;
    height: 50px;
}
header .button i {
    margin-left: 10px;
}

.navigation {
    margin-top: 20px;
    background-color: var(--color-dark-grey);
    padding-top: 20px;
    padding-bottom: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navigation a {
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.2s linear;
}
.navigation a:hover {
    transform: translateY(-10px);
}
.navigation-active{
    background-color: var(--color-yellow);
}

.intro {
    background: url(img/intro_img.jpg) center/cover no-repeat;
    padding-top: 150px;
    padding-bottom: 100px;
}
.intro .text-wrapper {
    display: flex;
    justify-content: center;
}
.intro-text {
    text-align: center;
    border: 1px solid var(--color-yellow);
    padding-top: 35px;
    padding-bottom: 35px;
}
.intro-text p {
    margin-top: 20px;
    font-size: 24px;
}
.intro-phone {
    margin-top: 150px;
}
.intro-phone a {
    padding: 30px 39px;
    background-color: rgba(200, 163, 95, 0.8);
    border-radius: 20px;
    transition: all 300ms ease;
}
.intro-phone a:hover {
    text-decoration: none;
    background-color: #ca9c45;
}

.section {
    padding-top: 100px;
    padding-bottom: 150px;
}

.about {
    background-color: var(--color-dark-grey);
    text-align: center;
}

.line {
    background-color: var(--color-yellow);
    width: 90px;
    height: 2px;
}
.about .line {
    margin: 0 auto;
}
.about h2,
.about p {
    margin-top: 35px;
}
.about_items {
    margin-top: 75px;
}
.about_items__elem {
    padding-top: 15px;
    transition: all 0.3s linear;
    border-radius: 5px;
}
.about_items__elem:hover {
    transform: translateY(-15px);
    cursor: pointer;
}
.about_items img {
    max-width: 250px;
    border-radius: 5px;
}

.repair {
    background-color: var(--color-light-grey);
}

.button {
    display: flex;
    margin-top: 80px;
    background-color: var(--color-yellow);
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 60px;
    transition: box-shadow 0.3s linear;
    border-radius: 3px;
    cursor: pointer;
}
.button:hover {
    Box-shadow: 0px 2px 0px #fff, 0px -2px 0px #fff, 2px 0px 0px #fff, -2px 0px 0px #fff;
}
.slider {
    width: 276px;
    margin: 0 auto;
}
.service {
    background-color: var(--color-dark-grey);
}
.service h2 {
    margin-bottom: 60px;
}
.service__item {
    background-color: var(--color-light-grey);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 20px;
    transition: transform 0.2s linear;
    margin-left: 3%;
    margin-right: 3%;
}
.service__item:hover {
    transform: scale(1.1, 1.1);
}
.service__item h4 {
    margin-bottom: 175px;
}
.service__item .button {
    width: 80%;
    margin: 0 auto;
}

.doing {
    background-color: #393F47;
}
.doing h2 {
    margin-bottom: 60px;
}
.doing__item {
    text-align: center;
}
.doing__item img {
    max-height: 100px;
}
.doing__item h5 {
    margin-top: 30px;
}
.doing__item p {
    margin-top: 60px;
}

.questions {
    background-color: var(--color-dark-grey);
}
.questions h2 {
    margin-bottom: 60px;
}
.accordion {
    background-color: var(--color-light-grey);
    color: #fff;
    cursor: pointer;
    padding: 26px 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: all 0.4s linear;
    margin-top: 20px;
}
.accordion:hover,
.active {
    background-color: #484c52;
}

.panel {
    padding: 0 18px;
    background-color: #484c52;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel p {
    font-size: 16px;
}
.location {
    background-color: var(--color-light-grey);
}
.map {
    margin-top: 100px;
}
.map-responsive {
    overflow: hidden;
    padding-bottom: 330px;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.mail {
    margin: 0 auto;
    margin-top: 50px;
    font-size: 16px;
}
.mail .col {
    vertical-align: middle;
}
.mail img {
    max-height: 60px;
}
.mail p {
    font-size: 16px;
    margin: 0;
}
.mail span {
    font-weight: 600;
}

footer {
    background-color: var(--color-yellow);
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav {
    justify-content: flex-end;
}
.nav a:hover {
    color: var(--color-yellow);
}
.gallery {
    background-color: var(--color-dark-grey);
    padding-bottom: 50px;
}
.gallery__item {
    margin-bottom: 80px;
    overflow: hidden;
    transition: transform 0.3s linear;
}
.gallery__item:hover {
    transform: scale(1.05);
}
.gallery img {
    width: 100%;
}
.gallery h2 {
    margin-bottom: 40px;
}
.gallery p {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    background-color: var(--color-light-grey);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.break {
    background-color: var(--color-light-grey);
    padding-bottom: 200px;
}
.break-img,
.break-list {
    background-color: var(--color-dark-grey);
    margin-right: 1%;
    margin-left: 1%;
    height: 200px;
}
.break h2 {
    margin-bottom: 60px;
}
.break__list {
    padding: 40px 60px;
}
#second-location {
    background-color: var(--color-dark-grey);
}

.product {
    background-color: var(--color-dark-grey);
}
.product .nav {
    margin-bottom: 15px;
}
.product>div {
    border-radius: 10px;
}
.product h4 {
    margin-bottom: 0;
}
.product__view__header {
    width: 70%;
    margin: 0 auto;
    padding: 5px 0;
    background-color: var(--color-light-grey);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #707070;
}
.product__view img {
    margin-bottom: 30px;
}
.product__description {
    background-color: var(--color-light-grey);
    padding: 30px 20px;
    border-radius: 10px;
}
.product__description__wrapper {
    margin-top: 15px;
}
.product__description__header {
    margin: 0 auto;
    width: 95%;
    background-color: var(--color-dark-grey);
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    font-weight: 600;
}
.product__description ul {
    line-height: 36px;
    margin-top: 20px;
    margin-left: 20px;
}
.product__description__section__wrapper {
    display: flex;
    justify-content: space-between;
}
.product__description__section {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
}
.product__description__section__text {
    border-radius: 0px;
    width: 80%;
    background-color: var(--color-dark-grey);
    padding: 5px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.product__description__section__price {
    border-radius: 0px;
    width: 20%;
    text-align: center;
    background-color: var(--color-yellow);
    padding: 5px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product__info {
    margin-top: 70px;
    background-color: var(--color-light-grey);
    border: 1px solid #707070;
    border-radius: 10px;
    padding: 15px 10px;
}

.break-gallery {
    background-color: var(--color-light-grey);
}
.break-gallery__img,
.break-gallery__text {
    padding: 86px 67px;
    background-color: var(--color-dark-grey);
    border: 1px solid #707070;
    text-align: center;
    margin-top: 75px;
    font-weight: 700;
}
.break-gallery__img {
    border-radius: 5px;
}
.break-gallery__text {
    border-radius: 15px;
}

.restoration-gallery {
    background-color: var(--color-dark-grey);
}
.restoration-gallery h2 {
    margin-bottom: 40px;
}
.restoration-gallery__item {
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 276px;
    font-weight: 700;
    background-color: var(--color-light-grey);
    border: 1px solid #707070;
    border-radius: 5px;
    text-align: center;
    padding: 68px 35px;
}

.ready {
    background-color: var(--color-light-grey);
}
.ready__content {
    background-color: var(--color-dark-grey);
    border: 1px solid #707070;
    text-align: center;
    border-radius: 10px;
    margin-top: 70px;
    padding-top: 135px;
    padding-bottom: 135px;
}
.contacts{
    background-color: var(--color-dark-grey);
}
.contacts__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.contacts__item img{
    max-width: 50px;
}
.contacts p{
    margin: 0;
    margin-left: 5%;
}
.contacts span{
    font-weight: 700;
    margin-right: 20px;
}
.contacts a:hover{
    color: var(--color-yellow);
}
@media screen and (max-width: 1024px) {
    .about_items img {
        max-height: 170px;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 16px;
    }
    .section {
        padding-top: 75px;
    }
    .navigation a {
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px 10px;
    }
    .intro-phone a {
        padding: 15px 20px;
        border-radius: 10px;
    }
    .about_items p {
        margin-top: 15px;
    }
    .about_items .col {
        margin-top: 20px;
    }
    .service__item h4 {
        margin-bottom: 50px;
    }
    .doing__item img {
        max-height: 80px;
    }
    .doing__item p {
        margin-top: 30px;
    }
    .gallery__item {
        margin-bottom: 40px;
    }
    .break-img {
        margin-top: 20px;
    }
    .product__view__header{
        width: 40%;
    }
    .break-gallery__img{
        margin: 0 auto;
        margin-top: 40px;
    }
    .break-gallery__text{
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 425px) {
    h2 {
        text-align: center;
    }
    p {
        font-size: 14px;
    }
    .section {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .line {
        margin: 0 auto;
    }
    .navigation {
        justify-content: center;
    }
    .intro-phone {
        margin-top: 100px;
    }
    .intro-phone__item {
        margin-top: 40px;
    }
    .about {
        padding-bottom: 100px;
    }
    .about_items img {
        max-height: 130px;
    }
    .button {
        margin: 0 auto;
        margin-top: 50px;
    }
    .service__item {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .doing__item {
        margin-top: 40px;
    }
    .doing__item h5,
    .doing__item p {
        margin-top: 15px;
    }
    .mail__item {
        margin-top: 20px;
    }
    .nav {
        margin-bottom: 20px;
    }
    .gallery__item {
        margin-bottom: 20px;
    }
    .break {
        padding-bottom: 70px;
    }
    .restoration-gallery__item {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}